@import "tailwindcss";

@theme {
    --font-sans: 'Roboto', sans-serif;
    --color-dark: #0f2b3e;
    --color-mid: #194767;
    --color-white: #ffffff;
}

@utility container {
    margin-inline: auto;
}

h1 {
    @apply text-4xl font-bold mb-6;
}

h2 {
    @apply text-3xl font-bold mb-5;
}

h3 {
    @apply text-2xl font-semibold mb-4;
}

h4 {
    @apply text-xl font-semibold mb-3;
}

h5 {
    @apply text-lg font-medium mb-2;
}

h6 {
    @apply text-base font-medium mb-2;
}

p {
    @apply text-base mb-4;
}

ul {
    @apply list-disc list-inside mb-6;
}

li {
    @apply text-base mb-2;
}
