@import "tailwindcss";
@import "tailwindcss/preflight";
@tailwind utilities;
@config "../tailwind.config.ts";

@layer base {
    h1 {
        @apply text-4xl font-serif font-bold mb-6;
    }

    h2 {
        @apply text-3xl font-serif font-bold mb-5;
    }

    h3 {
        @apply text-2xl font-serif font-semibold mb-4;
    }

    h4 {
        @apply text-xl font-serif font-semibold mb-3;
    }

    h5 {
        @apply text-lg font-serif font-medium mb-2;
    }

    h6 {
        @apply text-base font-serif font-medium mb-2;
    }

    p {
        @apply text-base font-serif mb-4;
    }

    ul {
        @apply list-disc list-inside mb-6;
    }

    li {
        @apply text-base font-serif mb-2;
    }
}
